<div class="tm-page-container mx-auto"> 
<div class="tm-section">
    <div class="tm-content-container">
        <div class="tm-content tm-content-2">
            <div>
                <h3>Android programming</h3>
                <h6>Master D | 2019</h6>
                <ul>
                    <li>Small applications</li>
                    <li>Practical cases</li>
                    <li>Theoretical assessment tests and exams</li>
                </ul>
            </div>
            <div>
                <h3>Development of Applications for iPhone and iPad</h3>
                <h6>Galileu | 2017</h6>
                <ul>
                    <li>Small applications</li>
                </ul>
            </div>
            <div>
                <h3>Specialized User Interface / User Experience</h3>
                <h6>Flag | 2017</h6>
            </div>
            <div>
                <h3>PhD in Science and Information Technology</h3>
                <h6>Coimbra University | 2013</h6>
                <ul>
                    <li>Music production software</li>
                    <li>Artificial Intelligence Models</li>
                </ul>
            </div>
            <div>
                <h3>Degree in Computer Engineering</h3>
                <h6>Coimbra University | 2006</h6>
                <ul>
                    <li>Project in the areas of Software Reuse / Artificial Intelligence</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>