<div class="tm-page-container mx-auto">      
      <div class="tm-section">
          <div class="tm-content-container">
            <div class="tm-content tm-content-2">
                <p>My name is António Oliveira and I am from Coimbra. I have a degree and a PhD in
                    Computer Engineering from the University of Coimbra.</p>
                <p>In the final work of Degree I improved software in the area of Software Engineering and
                    Artificial intelligence. This work is part of a research project. During
                    my PhD I was involved in the areas of affective computing and musical computing
                    at the Center for Informatics and Systems of the University of Coimbra. I developed a system of
                    music production according to emotions. This work resulted in a thesis of
                    doctorate entitled "A Musical System for Emotional Expression".</p>
                <p>I started my professional activity of teaching Higher Education in the academic year 2015/2016
                    at Instituto Superior Miguel Torga giving theoretical and practical classes in the discipline of Intelligence
                    Artificial. In the 2016/2017 school year, I continued this activity at the Escola Superior de
                    Technology and Management of Viseu giving practical classes in the disciplines of Programming
                    Computers and Algorithms and Programming.</p>
                <p>Since August 2017 I have been involved in computer programming. of August
                    From 2017 to October 2017 I was working for the company G9Telecom from Coimbra,
                    improving a Call Detail Records database and obtaining statistical measurements
                    details about Call Detail Records. From December 2017 to February 2018 I collaborated in
                    initial phase of a project exploring technologies and templates with the aim of
                    development of an application for managing restaurant customer orders. At the
                    period from September 2017 to September 2018, being linked to a co-work space
                    from Instituto Pedro Nunes, I developed a web email client inspired by the web client made
                    for Protonmail. From May 2019 to October 2019 I was a web programmer analyst at
                    company Coimfor, being directed my work in the improvement and development for the
                    GCIWeb application oriented to management and accounting. From October 2019 to February 2019
                    2021 I was a programmer at the company Let’s Call in which I was involved in three projects:
                    importing invoices to the QuickBooks platform; collaboration in the development of
                    SMSBUZZ application for sending SMS messages; collaboration in the development of
                    Contact Center application used for the purpose of making telephone calls from a call center.</p>
                <p>I have published some articles in international conferences and journals.</p>
            </div>
        </div>
      </div>
  </div>