<div class="tm-page-container mx-auto">    
      <div class="tm-section">
        <div class="tm-content-container">
          <div class="tm-content tm-content-2">
            <h3>Web Programmer</h3>
            <div>
            <h6>VESAM / Mira Systems | May 2021 - June 2022</h6>
        
            <ul>
                <li>Programming features for a production management software</li>
                <li>Integration of the software with customer ERPs</li>
                <li>Stock management</li>
            </ul>
        </div>
        <div>
            <h6>Let's Call | October 2019 - February 2021</h6>
            <ul>
                <li>Invoice import application</li>
                <li>SMS sending application</li>
                <li>Phone call application</li>
            </ul>
        </div>
        <div>
            <h6> Coimfor | May 2019 - October 2019</h6>
            <ul>
                <li>Application for management and accounting</li>
            </ul>
            <h6>Instituto Pedro Nunes | September 2017 - September 2018</h6>
            <ul>
                <li>Development of an email client</li>
            </ul>
            <h6>G9Telecom | August 2017 - October 2017</h6>
            <ul>
                <li>Website with phone call statistics</li>
                <li>Improved database structure</li>
            </ul>
        </div>
          </div>
        </div>
        <div class="tm-content-container">
            <div class="tm-content tm-content-2">
              <h3>Teaching</h3>
              <div>
                <h6>Instituto Politécnico de Viseu | 2017
                </h6>
                <ul>
                    <li>Theoretical-practical and practical classes of Computer Programming and Algorithms and Programming</li>
                    <li>Presentation of pseudo-code of algorithms and data structures (lists, vectors and matrices)</li>
                  </ul>
              </div>
              <div>
                <h6>
                    Instituto Superior Miguel Torga | 2016
                </h6>
                <ul>
                    <li>Theoretical and practical classes of Artificial Intelligence</li>
                    <li>History of artificial intelligence, presentation of artificial intelligence techniques (genetic algorithms, among others)</li>
                </ul>
              </div>
             
            </div>
        </div>
      </div>
</div>