<div class="tm-page-container mx-auto">  
<div class="tm-section">
    <div class="tm-content-container">
        <div class="tm-content tm-content-2">
              <div class='container-fluid'>  
                <div class='col-12'>  
                    <ngb-carousel>  
                        <ng-template ngbSlide>  
                            <img src="../../assets/images/gallery/carousel_1.jpg" alt="EDME">  
                            <div class="carousel-caption">  
                                <h3 style="color: red">EDME</h3>  
                                <p>Music Production with Emotional Input</p>
                            </div>  
                        </ng-template>  
                        <ng-template ngbSlide>  
                            <img src="../../assets/images/gallery/carousel_2.png" alt="Calculator">  
                            <div class="carousel-caption">  
                                <h3 style="color: red">Calculator</h3>  
                                <p>Calculator Android Programming</p>
                            </div>  
                        </ng-template>  
                        <ng-template ngbSlide>  
                            <img src="../../assets/images/gallery/carousel_3.png" alt="EDME">  
                            <div class="carousel-caption">  
                                <h3 style="color: red">EDME</h3>  
                                <p>Sample of EDME User Interface</p>
                            </div>  
                        </ng-template>  
                        <ng-template ngbSlide>  
                            <img src="../../assets/images/gallery/carousel_4.png" alt="Weather">  
                            <div class="carousel-caption">  
                                <h3 style="color: red">Weather</h3>  
                                <p>Weather prediction interface</p>
                            </div>  
                        </ng-template>  
                        <ng-template ngbSlide>  
                            <img src="../../assets/images/gallery/carousel_5.png" alt="Twitter application">  
                            <div class="carousel-caption">  
                                <h3 style="color: red">Twitter application</h3>  
                                <p>User Interface of twitter application</p>
                            </div>  
                        </ng-template>  
                        <ng-template ngbSlide>  
                          <img src="../../assets/images/gallery/carousel_6.png" alt="News reader">  
                          <div class="carousel-caption">  
                              <h3 style="color: red">News reader</h3>  
                              <p>User Interface of news reader</p>
                          </div>  
                      </ng-template> 
                      <ng-template ngbSlide>  
                        <img src="../../assets/images/gallery/carousel_7.png" alt="Menu bars">  
                        <div class="carousel-caption">  
                            <h3 style="color: red">Menu bars</h3>
                            <p>Menu bars for iOS</p>  
                        </div>  
                    </ng-template> 
                    <ng-template ngbSlide>  
                      <img src="../../assets/images/gallery/carousel_8.png" alt="Map">  
                      <div class="carousel-caption">  
                          <h3 style="color: red">Map</h3>  
                          <p>Map for iOS</p>
                      </div>  
                  </ng-template>
                  <ng-template ngbSlide>  
                    <img src="../../assets/images/gallery/carousel_9.png" alt="TODO list">  
                    <div class="carousel-caption">  
                        <h3 style="color: red">TODO list</h3>  
                        <p>TODO list for iOS</p>
                    </div>  
                </ng-template>
                    </ngb-carousel>  
                </div>  
              
            </div>  
        </div>
    </div>
</div>
</div>