<div class="tm-page-container mx-auto">  
      <div class="tm-section">
          <div class="tm-content-container">
            <div class="tm-content tm-content-2">
              <h3>Programming languages</h3>
              <ul>
                  <li>ASP.NET</li>
                  <li>C#</li>
                  <li>Java</li>
                  <li>SQL</li>
                  <li>PHP</li>
                  <li>JavaScript</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Visual Basic</li>
                  <li>Cobol</li>
                  <li>MATLAB</li>
              </ul>
              <h3>Frameworks</h3>
              <ul>
                <li>NodeJS</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>FreePBX</li>
                <li>Angular</li>
                <li>Safari and Chrome Developer Tools</li>
                <li>DevExtreme</li>
              </ul>
              <h3>Integrated Development Environments</h3>
              <ul>
                <li>Visual Studio</li>
                <li>Android Studio</li>
                <li>Eclipse</li>
                <li>Visual Studio Code</li>
              </ul>
              <h3>Databases</h3>
              <ul>
                <li>MySQL</li>
                <li>SQLite</li>
                <li>SQL Server</li>
              </ul>
              <h3>Collaboration</h3>
              <ul>
                <li>Trello</li>
                <li>Slack</li>
                <li>ASANA</li>
              </ul>
            </div>
          </div>
        </div>
    
    </div>